  h1 {
    font-family: 'Be Vietnam'. sans-serif;
    font-weight: 400;
    text-align: center;
  }

  .test {
    font-family: 'Be Vietnam', sans-serif;
    font-weight: 300;
    font-size: 1.5em;
  }
  
  .nav {
    font-family: 'Mansalva', sans-serif;
    font-size: 3.25em;
    color: #F64C72;
    text-align: center;
    background-color: #2F2FA2;
  }
